body {
    margin: 0;
    padding: 0;
    background: #f2f2f2;
}

.App {
    font-family: 'Roboto', sans-serif;
    color: #333;
    text-align: center;
}

a {
    color: #333;
    text-decoration: none;
    font-size: xx-large;
}

.Language-select {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bolder;
}

.Language-select-left, .Language-select-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.Language-select-left-item, .Language-select-right-item {
    padding: 1em;
    transition: ease-in-out 0.2s;
}

.Language-select-left-item:hover, .Language-select-right-item:hover {
    transform: scale(1.2);
}